
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# Added for instinctools.de
RewriteCond %{HTTP_HOST} ^instinctools.de$ [NC]
RewriteRule ^(.*)$ http://www.instinctools.de/$1 [R=301,L]

</IfModule>

# END WordPress
